In [28]:
planeta = {
    'nombre': 'marte',
    'lunas': 2
}

In [29]:
print(f'{planeta["nombre"]} tiene {planeta["lunas"]} lunas')

marte tiene 2 lunas

In [30]:
planeta ['circunferencia (km)'] = {
    'polar': 6752,
    'ecuatorial': 6792
}

In [31]:
print(f'{planeta["nombre"]} tiene una circunferencia polar de {planeta["circunferencia (km)"]["polar"]}')

marte tiene una circunferencia polar de 6752

Ejercicio 2

In [38]:
lunas_planetas = {
    'mercurio': 0,
    'venus': 0,
    'tierra': 1,
    'marte':2,
    'jupiter': 79,
    'saturno': 82,
    'urano': 27,
    'neptuno': 14,
    'pluton': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1

}

In [39]:
lunas = lunas_planetas.values()
print(lunas)

dict_values([0, 0, 1, 2, 79, 82, 27, 14, 5, 2, 1, 1])

In [40]:
planetas = len(lunas_planetas.keys())

print(planetas)

12

In [44]:
lunas_totales = 0
for lunas in lunas:
    lunas_totales = lunas_totales + lunas

In [45]:
average = lunas_totales / planetas
print(average)

17.833333333333332